<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools"
    package="com.iyans">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.iyans.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.iyans.permission.C2D_MESSAGE" />

    <application
        android:name="com.iyans.utility.App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="com.iyans.dashboard.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@style/com_facebook_activity_theme"
            tools:replace="android:configChanges" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iyans.userauth.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iyans.userauth.ChooseLoginOrSignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.iyans.userauth.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userauth.ChooseLoginOrSignUpActivity" />
        </activity>
        <activity
            android:name="com.iyans.userauth.SignupActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".userauth.LoginActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.ChangePasswordActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.settings.SettingActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.UpdateProfileActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.MainActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.AboutActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.settings.SettingActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.AboutVersionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.settings.SettingActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.TermsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.settings.SettingActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.settings.SettingActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.MainActivity" />
        </activity>
        <activity
            android:name="com.iyans.dashboard.FeedDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.MainActivity" />
        </activity>
        <activity
            android:name="com.iyans.imagefilter.ImageShow"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".dashboard.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.iyans.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.Transparent"
            tools:replace="android:theme" />
        <activity android:name="com.facebook.CustomTabMainActivity" />
        <activity
            android:name="com.twitter.sdk.android.tweetui.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MediaTheme" />
        <activity
            android:name="com.twitter.sdk.android.tweetui.GalleryActivity"
            android:theme="@style/MediaTheme" />
        <activity
            android:name="com.google.firebase.auth.internal.FederatedSignInActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="com.google.firebase.auth.api.gms.permission.LAUNCH_FEDERATED_SIGN_IN"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.iyans" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="com.iyans.firebaseinitprovider"
            android:exported="false"
            android:initOrder="100" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.twitter.sdk.android.tweetcomposer.ComposerActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|stateAlwaysVisible|adjustResize|adjustNothing"
            tools:replace="android:windowSoftInputMode" />
        <service
            android:name="com.twitter.sdk.android.tweetcomposer.TweetUploadService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name="com.twitter.sdk.android.core.identity.OAuthActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:exported="false" />
        <service
            android:name="com.allattentionhere.autoplayvideos.AAH_DownloadService"
            android:exported="false" />
        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:authorities="com.iyans.FacebookInitProvider"
            android:exported="false" />
        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
